/*MOBILE*/
@media (max-width: 46.1875em) {
    .s-full-width, /* ke thua thuoc tinh full width (ux) khien ng dung co trai nghiem tot hon*/
    .s-col-full {
        width: 100% !important
    }
    .s-mt-8 {
        margin-top: 8px !important
    }
    #nav {
        display: block;
    }

    #nav > li {
        display: block; }
    
    #nav >li:first-child { 
        display: inline-block;
        /*cho li đầu tiên kế thừa element này */
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;}


    #header .menu-mobile-btn {
        display: block;
    }

    #content .members-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .members-img{
        width: 60% ;
    }

    .contact-form{
        margin-top: 32px;
        
    }

    .contact-form > form > div:first-child {
        display:block;
    }
    }


/*PC*/
@media (min-width: 64em) {

}

/*TABLE*/
@media (min-width:46.25em) & (max-width:63.9375em) {

}

/*TABLE&MOBILE*/
@media (max-width: 63.9375em) {
    .btn{
        padding; 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0px;
        display: inline-block;
    }

    .contact-info {
        line-height: 2;
    }

}
